/* hero background image */
.bgimage {
    height:100vh;
    background: url('images/hero.jpg') no-repeat center center fixed;
    background-size: cover;
    position: relative;
}
@media (max-width: 768px) {
    .bgimage {
        background: url('images/hero_mobile.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        position: relative;
        transform: translate3d(0,0,0);
        -webkit-transform: translate3d(0,0,0);
    }
}
/* text css above hero image*/
.hero_title {
    font-size: 4.5rem;
    text-shadow: black 0.1em 0.1em 0.2em;
}
.hero_desc {
    font-size: 2rem;
    text-shadow: black 0.1em 0.1em 0.2em;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
/* about section image css */
.imageAboutPage {
    width: 100%;
}
/* services section css */
.servicesText.card {
    height: 280px;
    cursor: pointer;
  }
.servicesIcon {
    font-size: 36px;
    text-align: center;
    width: 100%;
}
.card-title {
    text-align: center;
}
.card:hover .servicesIcon {
    color: #4d288e;
}
.servicesText:hover {
    border: 1px solid #4d288e;
}
/* showcase css */
.carousel-item {
overflow: hidden;
width: 100%;
}
.carousel-item img {
width: 100%;
}
/* display background color black on navbar scroll */
.navbarScroll.navbarDark {
    background-color: black;
}
.navbar-brand {
    text-shadow: black 0.1em 0.1em 0.2em;
}
/* social media icons styling */
.social-icons {
    font-size: 36px;
    cursor: pointer;
}
.fa-envelope:hover, .fa-phone:hover {
    color: #4d288e;
}
.fa-regular, .fa-solid {
    color: #ffffff;
}
/* footer styling */
#footer {
    background-color: #000000;
    text-align: center;
}
/* spacing on all sections */
#about, #services, #showcase, #contact {
    margin-top: 2rem;
    padding-top: 2rem;
}
#contact {
    padding-bottom: 2rem;
}
